:root{
    font-size: 16px;

}


body{
    background-color: #202125;
}

*{
    font-family: sans-serif;
    margin: 0;
}

a{
    color: #808080;
    text-decoration: none;
}


.header{
    display: grid;
    grid-template-rows: 8vh;
    grid-template-columns: 50% auto 20%;
    background-color: #202125;
}

.left{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    padding: 0 2rem;
}


.logo-imagen{
    width:6rem;
    height: auto;
}

.menu a{
    margin:0 1rem;
}

.selected{
    font-weight: bold;
    color: #cfcfcf;
    
}



.right{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    padding: 0 2rem;
}

.right>div{
    margin: 0 0.5rem;
}

.search svg, .gift  svg, .notifications  svg, .user  svg{
height: 2rem;
width: auto;
}

.info{
display: block;


}

.row{
    padding: 1rem 1rem;
}

.row-title{
    font-size: 1.2rem;
    padding:1rem 0;
    color:#cfcfcf;
}

.row-films{
    display: flex;
    gap: 5px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    padding:1rem 0;
}

.film{
margin:0 0.5rem;
}

.film>img{
    width: 16rem;
}


.footer{
    
    padding:5rem;
    display: block;
}

.menu{
    display: flex;
    align-items: start;
    justify-content: space-between
}

.column{
    display: block;
}