:root{
    font-size: 16px;

}


body{
    background-color: #000;
}

*{
    font-family: sans-serif;
    margin: 0;
}

a{
    color: #808080;
    text-decoration: none;
}

/*HEADER*/
.header{
    display: grid;
    grid-template-rows: 8vh;
    grid-template-columns: 50% auto 20%;
    background-color: #000;
}


.header a:hover{
    color: #d1d1d1;
}

.left{
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    padding: 0 2rem;
}


.logo-imagen{
    width:7rem;
    height: auto;
}

.menu a{
    margin:0 1rem;
}

.selected{
    font-weight: bold;
    color: #cfcfcf;
    
}



.right{
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    padding: 0 2rem;
}

.right>div{
    margin: 0 0.5rem;
    padding: 0.1rem;
    border-radius: 2rem;
}

.right>div:hover{
    background-color: rgba(255,255,255,0.3);

}

.search svg, .gift  svg, .notifications  svg, .user  svg{
height: 2rem;
width: auto;
}




/*INFO*/





.info{
display: block;


}

.row{
    padding: 1rem 1rem;
}




.row-title{
    font-size: 1.2rem;
    padding:1rem 0;
    color:#cfcfcf;
}

.row-films{
    display: flex;
    gap: 5px;
    overflow-x: auto;
    scroll-snap-type:mandatory;
    scrollbar-width: none;
    padding:1rem 0;
}



.row-films::-webkit-scrollbar {
    height: 0.8rem;          /* width of the entire scrollbar */
}

.row-films::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.2);   
    border-radius: 2rem;
     /* color of the tracking area */
}

.row-films::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.8);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}



.film{
margin:0 0.5rem;
}

.film>img{
    width: 16rem;
}

/*FOOTER*/

.footer{
    border-top:0.5rem solid #232323;
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding:0rem 10rem;
    padding-top:5rem;
    padding-right: 22rem;
    display: block;
    font-size: 0.9rem;
}



.preguntas,.copyright{

    color: rgba(255, 255, 255, 0.7);;
    text-decoration: none;
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.copyright{
    margin-top: 4rem;

}

.menu{
    display: flex;
    align-items: start;
    justify-content: space-between
}

.column{
    display: block;
}

.column>div{
    margin:1rem 0;
}

.footer a{
    text-decoration: underline;
    color:rgba(255, 255, 255, 0.7);
}


.column a:active{
    text-decoration: underline;
    color:red;
}



@media